body{
    background: linear-gradient(to bottom, #ffcc00, #ff6600);
}

.navbar {
    padding: 10px;
}

.nav-content {
    display: flex;
    align-items: center; /* Memusatkan konten secara vertikal */
    
}

.nav-content-left {
    flex: 1; /* Bagian kiri mengambil sebanyak ruang yang tersedia */
}

.nav-content-right {
    flex: 1; /* Bagian kanan mengambil sebanyak ruang yang tersedia */
    display: flex;
    justify-content: flex-end; /* Konten kanan diletakkan di sebelah kanan */
    padding-right: 40px;
}

.about-me, .contact{
    padding: 1px 20px 1px 15px;
    border: 2px black solid;
    border-radius: 20%;
    background-color: antiquewhite;
}

.web-bobi{
    padding-left: 20px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.about-me, .contact {
    margin-left: 10px; /* Jarak antara About dan Contact */
}

hr{
    border: none; 
    border-top: 5px solid black; 
}

.header{
    padding: 10px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.foto-bobi {
    flex: 1;
}

.header-text{
    flex: 1; /* Bagian kanan mengambil sebanyak ruang yang tersedia */
    display: flex;
    justify-content: flex-end; /* Konten kanan diletakkan di sebelah kanan */
    padding-left: 100px;
    padding-right: 40px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50;
    text-align: justify;
}

.main {
    padding: 100px;
    background-color: aqua;
    border: 2px black solid;
}

.footer{
    padding: 100px;
    background-color: beige;
    border: 2px black solid;
}