
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

hr{
    border: none;
    border-top: 2px solid black;
}

.nav-content {
    display: flex;
    align-items: center; 
}

.nav-content-left {
    flex: 1; 
}

.nav-content-right {
    flex: 1; /* Bagian kanan mengambil sebanyak ruang yang tersedia */
    display: flex;
    justify-content: flex-end; /* Konten kanan diletakkan di sebelah kanan */
    padding-right: 40px;
}


.about-me, .contact {
    padding: 1px 20px 1px 15px;
    border: 2px black solid;
    border-radius: 20%;
    background-color: antiquewhite;
    margin-left: 10px;
}

.web-bobi {
    padding-left: 25px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    padding: 10px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.header-text {
    margin-left: 50px;
    font-size: 20px;
    text-align: justify;
    padding-right: 26px;
}

.foto-bobi {
    width: 350px;
    border-radius: 50%;
}

.main {
    padding: 20px;
}

.skill {
    margin-top: 0;
    color: #333;
}

.isi-hardSkill, .isi-softSkill {
    margin: 0;
    padding: 0;
}

.list-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-group-item {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.text-footer {
    margin: 0;
    font-size: 20px;
}
